table {
  border: 3px black solid;
  border-collapse: collapse;
  text-align: center;
  width: 90%;
  overflow: hidden;
}

th {
  border-right: 1px black solid;
  width: 3%;
  position: relative;
  color: #010150;
}

/*th:hover {*/
/*  text-decoration: underline;*/
/*}*/

tr:hover {
  background-color: #e3f113;
}

td:hover::after {
  content: "";
  position: absolute;
  background-color: #e3f113;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}
