/* You can add global styles to this file, and also import other style files */
img {
  height: auto;
}

#saints-logo {
  border-radius: 10%;
  max-width: 20%;
}

#instagram-logo {
  max-width: 10%;
}
